.consierge
{
    .header
    {
        height: 110px;
        background: url(../img/header-consierge.jpg) 0 0 no-repeat;
    }
    .text-header
    {
        margin: 28px 0 16px 0;
        .sprite
        {
            width: 266px;
            height: 20px;
            
            background-position: 0px -65px;
        }
    }
    .chapter-header
    {
        @include h2;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .chapter
    {
        padding: 25px 30px;

        background: rgba(17,17,17,0.6);

        border: 1px solid #2C2924;

        .question
        {
            margin-top: 30px;
            margin-bottom: 0;
            line-height: 18px;

            font:
            {
                size: 18px;
                weight: normal;
            }

            color: $color-gold;
        }
        p
        {
            margin: 10px 0;
        }
        .ref
        {
            margin-top: 0;
        }
        .radio-list
        {
            margin-left: 25px;
        }
        .submit
        {
            margin-top: 40px;
        }
        .chapter-text
        {
            margin: 0;
            color: #c8b9a6;

            .phone
            {
                color: $color-gold;
            }
        }
        textarea
        {
            width: 320px;
            height: 90px;
        }
        .form-text
        {
            width: 320px;
        }
    }
}