.popup
{
    .paranja
    {
        z-index: 1000;

        position: fixed;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;

        background: rgba(0,0,0,0.75);
    }

    .wrapper
    {
        z-index: 1001;

    	position: absolute;

        width: 670px;

    	// TODO: это должно считаться автоматически!!!
    	left: 50%;
    	top: 10%;

        margin-left: -335px;

    	padding: 10px;
    	background: rgba(103,103,103,0.6);

    	@include border-radius(10px, 10px, 10px, 10px);
    }
    .content
    {
    	position: relative;

        max-width: 665px;
    	min-width: 100px;
        padding: 35px 30px 35px 168px;

    	background: #000;

        @include border-radius(5px, 5px, 5px, 5px);
        .popup-logo
        {
            position: absolute;

            top: 35px;
            left: 30px;
            .sprite
            {
                width: 90px;
                height: 55px;

                background-position: -299px -39px;
            }
        }
        .popup-logo:after
        {
            @include after(1px);

            height: 150px;

            right: -25px;
            top: 0px;

            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTI5MjkiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgba(41,41,41,1) 0%, rgba(41,41,41,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,41,41,1)), color-stop(100%,rgba(41,41,41,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(41,41,41,1) 0%,rgba(41,41,41,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(41,41,41,1) 0%,rgba(41,41,41,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(41,41,41,1) 0%,rgba(41,41,41,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(41,41,41,1) 0%,rgba(41,41,41,0) 100%); /* W3C */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#00292929',GradientType=0 ); /* IE6-8 */

        }
        .popup-header
        {
            margin: 5px 0 5px 0;
            .sprite
            {
                width: 111px;
                height: 18px;

                background-position: 0 -42px;
            }
        }
        .popup-text
        {
            color: #fff;
            margin-bottom: 20px;
        }
        .popup_text_inline
        {
            input
            {
                margin-right: 10px;
            }
            label
            {
                display: inline-block;
            }
        }
        .popup-text_ref
        {
            margin-bottom: 25px;
        }
        .form-text
        {
            margin-top: 5px;
            font-size: 14px;
        }
        label
        {
            .form-text_city
            {
                width: 130px;
            }
            .form-text_state
            {
                width: 110px;
            }
            .form-text_zip
            {
                width: 100px;
            }
            .form-text_country
            {
                width: 140px;
            }
            .form-text_exp1
            {
                width: 38px;
                margin-right: 0;
            }
            .form-text_exp2
            {
                width: 30px;
            }
            .form-text_seq
            {
                width: 77px;
            }
        }
        .main-button span
        {
            padding: 0 10px;
        }
    }
}
.popup_type_delivery
{
    .content
    {
        .popup-header
        {
            margin-bottom: 20px;

            .sprite
            {
                width: 300px;
                height: 47px;

                background-position: 0 -91px;
            }
        }
        .form-text
        {
            width: 370px;
        }
    }
}
.popup_type_billing
{
    .content
    {
        .popup-header
        {
            margin-bottom: 20px;

            .sprite
            {
                width: 300px;
                height: 47px;

                background-position: 0 -145px;
            }
        }
        .form-text
        {
            width: 370px;
        }
    }
    .save-card
    {
        color: $color-gold;

        position: relative;

        input
        {
            position: absolute;
            margin: 0;
            top: 5px;
            left: -20px;
        }
    }
    .popup-card
    {
        position: absolute;

        left: 20px;
        top: 135px;

        .sprite
        {
            width: 111px;
            height: 47px;
            
            background-position: -342px -97px;
        }
    }
}
.popup_type_thankyou
{
    .content
    {
        .popup-header
        {
            margin-bottom: 20px;

            .sprite
            {
                width: 332px;
                height: 21px;

                background-position: 0 -200px;
            }
        }
        .popup-text
        {
            margin-bottom: 10px;
        }
    }
}
.popup_type_locate
{
    .content
    {
        .popup-header
        {
            margin-bottom: 20px;

            .sprite
            {
                width: 300px;
                height: 47px;

                background-position: 0 -91px;
            }
        }
        .popup-text
        {
            margin-top: 44px;
        }
        .main-button_add-photo span
        {
            padding-left: 65px;
            padding-right: 15px;
        }
        .btn-group
        {
            margin-top: 0;
        }
        .main-button_add-photo .sprite 
        {
            position: absolute;
            left: 11px;
            top: 5px;
            width: 38px;
            height: 25px;
            padding-right: 14px;
            border-right: 1px solid #745B1C;
            background-position: -237px -39px;
        }
    }
}

.popup_type_billing2
{
    .content
    {
        .popup-header
        {
            margin-bottom: 20px;

            .sprite
            {
                width: 300px;
                height: 47px;

                background-position: 0 -91px;
            }
        }

        .popup-header2
        {
            margin-top: 40px;
            margin-bottom: 20px;

            .sprite
            {
                width: 300px;
                height: 47px;

                background-position: 0 -145px;
            }
        }

        .btn-group
        {
            .btn
            {
                width: 300px;
                text-align: left;

                .caret 
                {
                    float: right;
                }
            }
            .dropdown-menu
            {
                width: 300px;
            }
        }
    }
}