@import url(bootstrap.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../img/bg-main.jpg); }

.main-button {
  display: inline-block;
  text-transform: uppercase; }
  .main-button span {
    padding: 0 48px;
    display: inline-block;
    line-height: 32px;
    background: #f7dd92;
    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZGQ5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2I2OTMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YjZkMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f7dd92 0%, #b69330 73%, #8b6d07 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7dd92), color-stop(73%, #b69330), color-stop(100%, #8b6d07));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7dd92 0%, #b69330 73%, #8b6d07 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7dd92 0%, #b69330 73%, #8b6d07 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7dd92 0%, #b69330 73%, #8b6d07 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f7dd92 0%, #b69330 73%, #8b6d07 100%);
    /* W3C */
    color: #2b2828;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3); }

.main-button:hover {
  -webkit-box-shadow: 0 0 5px #ecb351;
  -moz-box-shadow: 0 0 5px #ecb351;
  box-shadow: 0 0 5px #ecb351; }

.main-button_add-photo {
  z-index: 0;
  position: relative; }
  .main-button_add-photo span {
    position: relative;
    padding-left: 65px;
    padding-right: 15px; }
  .main-button_add-photo .sprite {
    position: absolute;
    left: 14px;
    top: 6px;
    width: 38px;
    height: 19px;
    padding-right: 14px;
    border-right: 1px solid #745b1c;
    background-position: -188px -42px; }
  .main-button_add-photo .input-file {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }

.button-small {
  display: inline-block;
  height: 21px;
  padding: 0 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #A4A4A4;
  font-size: 11px;
  line-height: 21px;
  border: 1px solid #0c0c0c;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background: #292929;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #292929 0%, #070707 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #070707));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #292929 0%, #070707 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #292929 0%, #070707 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #292929 0%, #070707 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #292929 0%, #070707 100%);
  /* W3C */ }

.button-small:hover {
  color: #fff; }

.button-simple {
  display: inline-block;
  height: 21px;
  padding: 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #A4A4A4;
  font-size: 11px;
  line-height: 21px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #10100e;
  cursor: pointer; }

.button-simple_disabled {
  color: #302D27;
  cursor: default; }

.form-text {
  background-color: #FEF7E3;
  border: none;
  height: 30px;
  line-height: 30px;
  font-size: 21px;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58); }

body .form-radio {
  margin-top: 0;
  margin-right: 4px; }

.form-radio__label_inline {
  display: inline;
  margin-right: 40px; }

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  padding: 0;
  border-top: 4px solid #000;
  border-bottom: 1px solid rgba(88, 83, 80, 0.48);
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5); }
  .navbar .navbar-inner {
    width: 742px;
    margin: auto;
    text-align: right;
    padding-right: 0; }
    .navbar .navbar-inner .brand {
      padding: 3px 30px; }
      .navbar .navbar-inner .brand .logo.sprite {
        width: 62px;
        height: 36px;
        background-position: -278px 0px; }
    .navbar .navbar-inner .welcome {
      margin-right: 18px;
      vertical-align: top;
      line-height: 48px; }
    .navbar .navbar-inner .nav {
      margin: 0;
      float: none;
      display: inline-block; }
      .navbar .navbar-inner .nav li {
        position: relative;
        border-left: 1px solid rgba(0, 0, 0, 0.2); }
      .navbar .navbar-inner .nav .active a {
        border: none;
        background: none; }
      .navbar .navbar-inner .nav .active::after,
      .navbar .navbar-inner .nav li:hover::after {
        content: ' ';
        position: absolute;
        width: 100%;
        display: block;
        bottom: -1px;
        left: 0;
        height: 1px;
        background: #e7b136;
        -webkit-box-shadow: 0 0 6px #ffae00;
        -moz-box-shadow: 0 0 6px #ffae00;
        box-shadow: 0 0 6px #ffae00; }
      .navbar .navbar-inner .nav a {
        padding: 9px 22px 10px; }
        .navbar .navbar-inner .nav a i {
          display: block;
          height: 23px;
          background: url(../img/nav-sprite.png) no-repeat; }
        .navbar .navbar-inner .nav a .wine {
          width: 36px; }
        .navbar .navbar-inner .nav a .concierge {
          width: 75px;
          background-position: -36px 0; }
        .navbar .navbar-inner .nav a .account {
          width: 63px;
          background-position: -112px 0; }
      .navbar .navbar-inner .nav a:hover i,
      .navbar .navbar-inner .nav .active i {
        background-position: 0 -23px; }
      .navbar .navbar-inner .nav a:hover .concierge,
      .navbar .navbar-inner .nav .active .concierge {
        background-position: -36px -23px; }
      .navbar .navbar-inner .nav a:hover .account,
      .navbar .navbar-inner .nav .active .account {
        background-position: -112px -23px; }

.row {
  position: relative;
  margin: auto;
  width: 742px;
  border-left: 1px solid #403d3d;
  border-right: 1px solid #403d3d;
  background: url(../img/bg-content.jpg);
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black; }

.row::before,
.row::after {
  content: ' ';
  position: absolute;
  width: 18px;
  display: block;
  top: 124px;
  height: 770px;
  opacity: 0.6;
  background: url(../img/bg-decor.png) 0 0 no-repeat; }

.row::before {
  left: -35px; }

.row::after {
  right: -35px; }

.header {
  width: 100%;
  height: 400px;
  padding-top: 50px; }

.span1 {
  width: 650px;
  margin: auto; }
  .span1 .content-header {
    line-height: 41px;
    margin: 18px 0;
    padding-bottom: 2px;
    font-size: 24px;
    position: relative;
    text-align: center; }
  .span1 .content-header::after {
    content: ' ';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDI0MiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ1NDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTQyNDIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(69, 66, 66, 0)), color-stop(50%, #454242), color-stop(100%, rgba(69, 66, 66, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* W3C */ }
  .span1 .video,
  .span1 .invite-block {
    padding: 15px;
    margin: 1em 0;
    background: #111111;
    -webkit-box-shadow: inset 0 0 7px black;
    -moz-box-shadow: inset 0 0 7px black;
    box-shadow: inset 0 0 7px black; }
  .span1 .text-header {
    font-size: 19px;
    font-weight: normal;
    color: #ecb351; }
  .span1 .columns {
    font: 0/0 a;
    position: relative; }
    .span1 .columns .column {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding-left: 2%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #A4A4A4;
      font-size: 13px; }
      .span1 .columns .column .quote {
        font-size: 16px;
        font-style: oblique; }
      .span1 .columns .column .maturity {
        color: #ecb351; }
  .span1 .columns::after {
    content: ' ';
    position: absolute;
    width: 1px;
    display: block;
    left: 50%;
    top: 0;
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDI0MiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ1NDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTQyNDIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 66, 66, 0)), color-stop(50%, #454242), color-stop(100%, rgba(69, 66, 66, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(69, 66, 66, 0) 0%, #454242 50%, rgba(69, 66, 66, 0) 100%);
    /* W3C */ }
  .span1 .invite-block .columns::after {
    background: none; }

.btn-group {
  margin-top: 7px;
  display: inline-block;
  vertical-align: top; }
  .btn-group .btn,
  .btn-group .btn:hover {
    background: none;
    background-color: #FEF7E3;
    border: none;
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
    line-height: 25px;
    font-size: 14px;
    padding: 4px 8px; }
    .btn-group .btn .caret,
    .btn-group .btn:hover .caret {
      margin-top: 10px;
      border-top: 6px solid black;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent; }
  .btn-group .dropdown-toggle,
  .btn-group .dropdown-menu,
  .btn-group .btn:first-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.footer {
  position: relative; }
  .footer .glass .sprite {
    width: 20px;
    height: 39px;
    margin: 30px auto; }
  .footer .social .sprite {
    position: absolute;
    top: 52px;
    right: 0;
    height: 40px;
    width: 195px;
    padding-right: 7px;
    background-position: -74px 0;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    line-height: 32px;
    text-align: right;
    cursor: pointer; }
  .footer .content {
    padding: 0 41px;
    border-top: 2px solid #1c1917; }
    .footer .content .sprite {
      margin-top: 7px;
      display: inline-block;
      vertical-align: middle;
      width: 49px;
      height: 28px;
      background-position: -22px 0px; }
    .footer .content .text {
      float: right;
      font-size: 11px;
      line-height: 28px; }
      .footer .content .text .phone {
        color: #ecb351; }

.sprite {
  display: block;
  background: url(../img/sprite.png) no-repeat; }

.product .header {
  position: relative;
  background: url(../img/header-product.jpg) 0 4px no-repeat; }
  .product .header .cert {
    top: 92px;
    left: 133px;
    position: absolute;
    width: 145px;
    height: 275px;
    padding: 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(0, 0, 0, 0.48); }
    .product .header .cert img {
      width: 100%;
      height: 100%; }
  .product .header .info {
    top: 85px;
    right: 42px;
    position: absolute;
    width: 280px;
    height: 285px;
    background: url(../img/vine-info.png);
    text-align: center; }
    .product .header .info .date {
      color: #fff;
      margin-top: 25px; }
    .product .header .info .mark {
      color: #ecb351;
      font-size: 20px;
      margin: 12px 12px 7px 12px; }
    .product .header .info .name {
      color: #fff;
      font-weight: bold;
      font-size: 25px; }
    .product .header .info .location {
      color: #fff;
      margin-top: 31px; }
    .product .header .info .rate {
      color: #fff;
      margin-top: 19px; }
    .product .header .info .link {
      font-size: 12px; }
.product .strip {
  width: 100%;
  height: 49px;
  background: url(../img/bg-stripe.jpg); }
  .product .strip .price {
    display: inline-block;
    margin-top: 5px;
    width: 179px;
    font-size: 20px;
    text-align: right;
    vertical-align: top;
    color: #fff; }
    .product .strip .price .note {
      font-size: 13px;
      color: #ecb351; }
  .product .strip .number {
    width: 34px;
    margin: 7px 0 0 13px;
    text-align: center;
    vertical-align: top;
    background-color: #FEF7E3;
    border: none;
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.58); }
  .product .strip .button {
    margin-top: 6px;
    margin-left: 81px; }
.product .text-header {
  line-height: 28px; }
.product .footer .content .sprite {
  margin-bottom: 50px; }
.product .footer .content .text {
  margin-top: 30px; }

.invitation .header {
  position: relative;
  background: url(../img/header-invite.jpg) -2px 4px no-repeat; }
  .invitation .header .title {
    position: absolute;
    left: 46px;
    top: 200px;
    width: 621px;
    height: 55px;
    background: url(../img/header-invite-text.png) 0 0 no-repeat; }
.invitation .invite-block .treatment,
.invitation .invite-block .signature {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  color: #fff; }
.invitation .invite-block .signature {
  line-height: 40px;
  text-align: right; }
.invitation .invite-block .button {
  text-align: right; }

.account .header {
  height: 110px;
  background: url(../img/header-account.jpg) 0 0 no-repeat; }
.account .text-header {
  margin-top: 28px;
  margin-bottom: 18px; }
  .account .text-header .sprite {
    width: 176px;
    height: 20px;
    background-position: 0px -42px; }
.account .chapter {
  font: 0/0 a;
  margin-bottom: 15px; }
  .account .chapter .chapter-header {
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #A4A4A4;
    font-size: 18px;
    font-weight: normal; }
  .account .chapter .chapter-strip {
    padding: 6px;
    height: 36px;
    margin: 0;
    text-align: right;
    background: url(../img/bg-stripe-s.jpg); }
    .account .chapter .chapter-strip .button-small {
      margin-left: 5px; }
  .account .chapter .chapter-content {
    padding: 10px 0 10px 9px;
    margin: 0;
    background: rgba(17, 17, 17, 0.6);
    border: 1px solid #0A0906;
    border-top: none; }
    .account .chapter .chapter-content .load {
      margin-top: 10px;
      text-align: center; }
.account .module {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 1px 0 0;
  width: 315px;
  height: 99px;
  background: #23211e;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMjExZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTEzMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #23211e 0%, #151310 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23211e), color-stop(100%, #151310));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #23211e 0%, #151310 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #23211e 0%, #151310 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #23211e 0%, #151310 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #23211e 0%, #151310 100%);
  /* W3C */
  border-top: 1px solid #363431;
  text-align: left; }
  .account .module .module-rank {
    float: left;
    width: 54px;
    height: 88px;
    margin: 3px;
    padding-top: 12px;
    background: #1b1915;
    -webkit-box-shadow: inset 0 3px 7px #211f1c;
    -moz-box-shadow: inset 0 3px 7px #211f1c;
    box-shadow: inset 0 3px 7px #211f1c; }
    .account .module .module-rank .up,
    .account .module .module-rank .down {
      margin: 5px auto;
      opacity: 0.2;
      -webkit-transition: all 0.3s ease-in-out 0;
      -moz-transition: all 0.3s ease-in-out 0;
      transition: all 0.3s ease-in-out 0; }
    .account .module .module-rank .up:hover,
    .account .module .module-rank .down:hover {
      opacity: 1; }
    .account .module .module-rank .up .sprite {
      margin: 0 auto;
      width: 26px;
      height: 31px;
      background-position: -342px 0; }
    .account .module .module-rank .down .sprite {
      margin: 0 auto;
      width: 25px;
      height: 31px;
      background-position: -367px 0; }
    .account .module .module-rank .on {
      opacity: 1; }
  .account .module .module-header {
    margin: 0 10px 0 75px;
    padding: 8px 0 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #A4A4A4;
    font-size: 16px;
    font-weight: normal;
    color: #ecb351;
    background: url(../img/bg-module-header.jpg) 0 100% repeat-x; }
  .account .module .module-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #A4A4A4;
    line-height: 15px;
    font-size: 12px;
    margin: 0 0 0 75px; }
  .account .module .module-buttons {
    position: absolute;
    right: 0;
    bottom: 10px; }
    .account .module .module-buttons .button-small {
      margin-right: 4px; }
.account .module_adress .module-header,
.account .module_adress .module-text {
  margin-left: 8px; }
.account .module_card .module-header {
  padding-top: 9px;
  line-height: 14px; }
.account .module_card .module-header,
.account .module_card .module-text {
  margin-left: 8px; }
.account .module_set-rank,
.account .module_libr {
  width: 630px; }
.account .module_libr .module-enjoy {
  float: left;
  margin: -6px 13px 0; }
  .account .module_libr .module-enjoy .sprite {
    width: 68px;
    height: 95px;
    background-position: -390px 0px; }
.account .module_libr .module-cover {
  float: left;
  margin-top: 2px;
  padding-left: 6px;
  border-left: 1px solid black; }
  .account .module_libr .module-cover img {
    border: 1px solid #000; }
.account .module_libr .module-header,
.account .module_libr .module-text {
  margin-left: 208px; }

.consierge .header {
  height: 110px;
  background: url(../img/header-consierge.jpg) 0 0 no-repeat; }
.consierge .text-header {
  margin: 28px 0 16px 0; }
  .consierge .text-header .sprite {
    width: 266px;
    height: 20px;
    background-position: 0px -65px; }
.consierge .chapter-header {
  font-size: 19px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0; }
.consierge .chapter {
  padding: 25px 30px;
  background: rgba(17, 17, 17, 0.6);
  border: 1px solid #2C2924; }
  .consierge .chapter .question {
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #ecb351; }
  .consierge .chapter p {
    margin: 10px 0; }
  .consierge .chapter .ref {
    margin-top: 0; }
  .consierge .chapter .radio-list {
    margin-left: 25px; }
  .consierge .chapter .submit {
    margin-top: 40px; }
  .consierge .chapter .chapter-text {
    margin: 0;
    color: #c8b9a6; }
    .consierge .chapter .chapter-text .phone {
      color: #ecb351; }
  .consierge .chapter textarea {
    width: 320px;
    height: 90px; }
  .consierge .chapter .form-text {
    width: 320px; }

.popup .paranja {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }
.popup .wrapper {
  z-index: 1001;
  position: absolute;
  width: 670px;
  left: 50%;
  top: 10%;
  margin-left: -335px;
  padding: 10px;
  background: rgba(103, 103, 103, 0.6);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
.popup .content {
  position: relative;
  max-width: 665px;
  min-width: 100px;
  padding: 35px 30px 35px 168px;
  background: #000;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .popup .content .popup-logo {
    position: absolute;
    top: 35px;
    left: 30px; }
    .popup .content .popup-logo .sprite {
      width: 90px;
      height: 55px;
      background-position: -299px -39px; }
  .popup .content .popup-logo:after {
    content: ' ';
    position: absolute;
    width: 1px;
    display: block;
    height: 150px;
    right: -25px;
    top: 0px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTI5MjkiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #292929 0%, rgba(41, 41, 41, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, rgba(41, 41, 41, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #292929 0%, rgba(41, 41, 41, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #292929 0%, rgba(41, 41, 41, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #292929 0%, rgba(41, 41, 41, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #292929 0%, rgba(41, 41, 41, 0) 100%);
    /* W3C */ }
  .popup .content .popup-header {
    margin: 5px 0 5px 0; }
    .popup .content .popup-header .sprite {
      width: 111px;
      height: 18px;
      background-position: 0 -42px; }
  .popup .content .popup-text {
    color: #fff;
    margin-bottom: 20px; }
  .popup .content .popup_text_inline input {
    margin-right: 10px; }
  .popup .content .popup_text_inline label {
    display: inline-block; }
  .popup .content .popup-text_ref {
    margin-bottom: 25px; }
  .popup .content .form-text {
    margin-top: 5px;
    font-size: 14px; }
  .popup .content label .form-text_city {
    width: 130px; }
  .popup .content label .form-text_state {
    width: 110px; }
  .popup .content label .form-text_zip {
    width: 100px; }
  .popup .content label .form-text_country {
    width: 140px; }
  .popup .content label .form-text_exp1 {
    width: 38px;
    margin-right: 0; }
  .popup .content label .form-text_exp2 {
    width: 30px; }
  .popup .content label .form-text_seq {
    width: 77px; }
  .popup .content .main-button span {
    padding: 0 10px; }

.popup_type_delivery .content .popup-header {
  margin-bottom: 20px; }
  .popup_type_delivery .content .popup-header .sprite {
    width: 300px;
    height: 47px;
    background-position: 0 -91px; }
.popup_type_delivery .content .form-text {
  width: 370px; }

.popup_type_billing .content .popup-header {
  margin-bottom: 20px; }
  .popup_type_billing .content .popup-header .sprite {
    width: 300px;
    height: 47px;
    background-position: 0 -145px; }
.popup_type_billing .content .form-text {
  width: 370px; }
.popup_type_billing .save-card {
  color: #ecb351;
  position: relative; }
  .popup_type_billing .save-card input {
    position: absolute;
    margin: 0;
    top: 5px;
    left: -20px; }
.popup_type_billing .popup-card {
  position: absolute;
  left: 20px;
  top: 135px; }
  .popup_type_billing .popup-card .sprite {
    width: 111px;
    height: 47px;
    background-position: -342px -97px; }

.popup_type_thankyou .content .popup-header {
  margin-bottom: 20px; }
  .popup_type_thankyou .content .popup-header .sprite {
    width: 332px;
    height: 21px;
    background-position: 0 -200px; }
.popup_type_thankyou .content .popup-text {
  margin-bottom: 10px; }

.popup_type_locate .content .popup-header {
  margin-bottom: 20px; }
  .popup_type_locate .content .popup-header .sprite {
    width: 300px;
    height: 47px;
    background-position: 0 -91px; }
.popup_type_locate .content .popup-text {
  margin-top: 44px; }
.popup_type_locate .content .main-button_add-photo span {
  padding-left: 65px;
  padding-right: 15px; }
.popup_type_locate .content .btn-group {
  margin-top: 0; }
.popup_type_locate .content .main-button_add-photo .sprite {
  position: absolute;
  left: 11px;
  top: 5px;
  width: 38px;
  height: 25px;
  padding-right: 14px;
  border-right: 1px solid #745B1C;
  background-position: -237px -39px; }

.popup_type_billing2 .content .popup-header {
  margin-bottom: 20px; }
  .popup_type_billing2 .content .popup-header .sprite {
    width: 300px;
    height: 47px;
    background-position: 0 -91px; }
.popup_type_billing2 .content .popup-header2 {
  margin-top: 40px;
  margin-bottom: 20px; }
  .popup_type_billing2 .content .popup-header2 .sprite {
    width: 300px;
    height: 47px;
    background-position: 0 -145px; }
.popup_type_billing2 .content .btn-group .btn {
  width: 300px;
  text-align: left; }
  .popup_type_billing2 .content .btn-group .btn .caret {
    float: right; }
.popup_type_billing2 .content .btn-group .dropdown-menu {
  width: 300px; }
