// Navigation
$nav-height: 50px;

// layout
$main-width: 720px;

// Text color - gold
$color-gold: #ecb351;

// Main text
@mixin text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #A4A4A4;
}

//Pull quote
@mixin quote {
	font-size: 18px;
	font-style: oblique;	
}

//Header lvl 1
@mixin h1 {
	font-size: 24px;
}

// Header lvl 2
@mixin h2 {
	font-size: 19px;
	font-weight: normal;
}

// Columns
@mixin column($width, $mar-left) {
  display: inline-block;
  vertical-align: top;
  width: $width;
  padding-left: $mar-left;
}

// ::after
@mixin after($width) {
	content: ' ';
	position: absolute;
	width: $width;
	display: block;
}

// Box shadow
@mixin box-shadow($vert, $gor, $blur, $color) {
	-webkit-box-shadow: $vert $gor $blur $color;
	   -moz-box-shadow: $vert $gor $blur $color;
			box-shadow: $vert $gor $blur $color;
}

// Inner shadow
@mixin inner-shadow($vert, $gor, $blur, $color){
	-webkit-box-shadow:inset $vert $gor $blur $color;
	   -moz-box-shadow:inset $vert $gor $blur $color;
			box-shadow:inset $vert $gor $blur $color;
}

@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right){
	-webkit-border-top-left-radius: $top-left;
	-webkit-border-top-right-radius: $top-right;
	-webkit-border-bottom-left-radius: $bottom-left;
	-webkit-border-bottom-right-radius: $bottom-right;
	-moz-border-radius-topleft: $top-left;
	-moz-border-radius-topright: $top-right;
	-moz-border-radius-bottomleft: $bottom-left;
	-moz-border-radius-bottomright: $bottom-right;
	border-top-left-radius: $top-left;
	border-top-right-radius: $top-right;
	border-bottom-left-radius: $bottom-left;
	border-bottom-right-radius: $bottom-right;	
}

@mixin input{
	background-color: #FEF7E3;
	border: none;
	height: 30px;
    line-height: 30px;
    font-size: 21px;
}

@mixin main-button{
	padding: 0 48px;
	display: inline-block;
	line-height: 32px;

	background: rgb(247,221,146); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZGQ5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2I2OTMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YjZkMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(247,221,146,1) 0%, rgba(182,147,48,1) 73%, rgba(139,109,7,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,221,146,1)), color-stop(73%,rgba(182,147,48,1)), color-stop(100%,rgba(139,109,7,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,221,146,1) 0%,rgba(182,147,48,1) 73%,rgba(139,109,7,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,221,146,1) 0%,rgba(182,147,48,1) 73%,rgba(139,109,7,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,221,146,1) 0%,rgba(182,147,48,1) 73%,rgba(139,109,7,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,221,146,1) 0%,rgba(182,147,48,1) 73%,rgba(139,109,7,1) 100%); /* W3C */

	color: #2b2828;

	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

	cursor: pointer;

	@include border-radius(2px, 2px, 2px, 2px);
	@include inner-shadow(0, 2px, 5px, rgba(0,0,0,0.3));
}